.input_box{
    width:100%;
    background-color: #730283;
    padding: .5rem;
    border-radius: .2rem;
}

.input_box input {
    background-color: transparent;
    border: 0;
    width: 100%;
    outline: none;
    padding-inline: .5rem;
    color: #ffff;
}

.input_box input::placeholder{
    color: #2d0036;
    font-weight: 500;
    text-transform: capitalize;
}