.createVoter{
    width: 95%;
    margin: 0 auto;
    margin-block: 2rem;
    display: grid;

    grid-template-columns: 1fr 3fr 1fr;
    gap: 2rem;
}

.voterInfo{
    position: absolute;
    top: 12rem;
    left: 3rem;
    width: 15rem;
    padding: 1 rem;
    background-color: #231e39;
    border-radius: 25px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.35);
    color: #b3b8cd;
    text-align: start;
}

.voterInfo img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.35);
    color: #b3b8cd;
    height: 9rem;
    padding: 1rem;  
}

.voterInfo_paragraph p{
    line-height: 1rem;
} 

.voterInfo_paragraph p span{
    font-size: 12px;
}

.voterInfo_paragraph{
    background-color: #231e39;
    border-radius: 25px;
}

/* ////SIDEINFO */
.sideInfo{
    background-color: #231e39;
    padding: .5rem 1rem;
    border-radius: 1rem;
    color: #b3b8cd;
}
.sideInfo_box h4{
    background-color: #9a02ac;
    padding: .5rem;
    border-radius: .2rem;
}
.sideInfo_para{
    background-color: #9a02ac;
    padding: .5rem;
    border-radius: .2rem;
}

.card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.card_box{
   line-height: 1;
   border: 1px solid #9a02ac;
   padding: .2rem;
   box-shadow: 10px 10px 15px rgba(0,0,0,0.35);
   border-radius: .3rem;
}
.voter{
    background-color: #231e39;
    border-radius: 25px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.35);
    color: #b3b8cd;
    padding: 2rem;
}

.image img{
    width: 100%;
}

/* ///////USER LIST */
.createdVoter_info{
    background-color: #231e39;
    border-radius: 25px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.35);
    color: #b3b8cd;
    padding: 2rem;
}
.voter_container_box{
    text-align: center;
    border: 1px dotted #9a02ac;
    border-radius: 5px;
}

.voter_container_box p{
    line-height: .5s;
}

.input_container{
    padding-top: 2rem;
    width: 80%;
    margin: 0 auto;   
}

.Button{
   text-align: end; 
}

/* //////MEDIA QUERY */
@media screen and (max-width: 45em){
    .createVoter{
        width: 90%;
        grid-template-columns: 1fr;
    }
    .voter{
        width: 100%;
        padding: 1rem;
    }
    .input_container{
        width: 100%;
    }
    .voterInfo{
        width: 12rem;
        height: 12rem;
        top: 2rem;
        left: 0rem;
        cursor: pointer;
    }
    .voterInfo_paragraph{
        font-size: 12px;
        height: 7.5rem;
    }
}